.add-wrap{
     width: calc(100vw - 55vw); 
     width: 50vw;
     min-width: 300px;
     max-width: 700px;
     height: calc(100vh - 70vh);
     min-height: 450px; 
     max-height: 900px;
     background-color: #fefefe;
     filter: drop-shadow(0px 0px 4px rgba(158, 158, 158, 0.5019607843));
     border-radius: 30px;
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     padding: 20px;


     .add-data{
        
        width: calc(100vh - 10vh); 
        height: calc(100vh - 60vh);
        display: flex;
        gap: 50px;
        
        .note-wrap{
         
           
            textarea{
                width: calc(100vh - 60vh); 
                height: calc(100vh - 70vh);
                padding: 20px;
                outline: none;
                font-size: 24px;
                border: 3px solid black;
                border-radius: 30px;
        
            }
        }

        .data-wrap{
            width: calc(100vh - 50vh); 
            height: calc(100vh - 60vh);

            .inputs-container{
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                gap:10px;


                label{
                    font-size: 25px;
                    font-weight: 600;
                }

                input{
                    border-radius: 30px;
                    max-width: 200px;
                    outline: none;
                    border: 1px solid black;
                    padding: 10px;
                    height: 20px;
                    font-size: 20px;
                }
             }
         }
         

     }

     .btn{
        margin-top: 3em;
        button{
                width: 100px;
                font-size: 24px;
                color: white;
                background-color: black;
                border-radius: 30px;
                outline: none;
                border: none;
                &:hover{
                    background-color:red;
                    color: black;
                }
            }
     }

     
}