.box-for-show {
    width: 600px;
    height: 400px;
    margin-left: 2em;
    border-radius: 15px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
}

.to-do-list {
    margin-top: 1em;
    width: 100%;
    max-height: 100px;
    border-bottom: 1px solid black;
    transition: max-height 0.3s ease; 
    
    .header {
        display: flex;
        align-items: baseline;
        width: 100%;
        justify-content: space-between;
        margin-top: 2em;
        cursor: pointer;

        .arrow{
            cursor: pointer;
        }

        .to-do-list-title{
            display: none;
            border: none;
           
        }

        .to-do-list-title-inpt{
            display: none;
            width: 80%;
           


        }

        .open{
            width: 40%;
            border: none;
            padding: 0;
            border-radius: 0;
            border-bottom: 1px solid black;
            font-size: 20px;
            font-family: sans-serif;

        }
        .close{
        
            border: none;
            font-size: 20px;
            font-family: sans-serif;
        }
  
    }

    .to-do-list-wrap-content {
        margin-top: 2em;
        overflow: hidden;
        max-height: 0; 
        transition: max-height 0.3s ease; 
    }

    .to-do-list-content {
        display: flex;
        flex-direction: column;

        .to-do-data{
            display: flex;
            flex-direction: column;
            gap: 1em;

            .date-time{
                display: flex;
                justify-content: space-between;
                .InptDate{
                    height: 100px;
                    display: flex;
                    align-items: center;
                  }
            }
            textarea{
                height: 100px;
                outline: none;
                border-radius: 0;
                border: none;
                border-bottom:1px solid black ;
                border-left:1px solid black ;
                padding: 10px 20px;
                font-size: 16px;
                font-family: sans-serif;
                border-bottom-left-radius: 15px;
            }
            .control-btn{
                display: flex;
                justify-content: space-between;
                margin-bottom: 1em;
            }
        }
    }
}

.active {
    max-height: 350px;
    
    .to-do-list-wrap-content {
        max-height: 300px;
    }
    .arrow{
        transform: rotate(180deg);
        cursor: pointer;
    }

   
}
