.wrap{
    margin: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 200px;
    font-size: 30px;
    font-weight: 900;
    
}
input{
    border-radius: 15px;
    outline: none;
    border: 1px solid black;
    padding: 10px;
    height: 20px;
    font-size: 20px;
}
