.nav-wrap{
    width: 100%;
    display: flex;
    justify-content: center;
    nav{
        gap:50px;
        display: flex;
        flex-direction: column;
        font-size: 30px;
        font-weight: 900;
        .active-link{
            text-decoration: none;
            color: red;
        }
        .nav-bar-link{
            text-decoration: none;
            color: black;
        }
    }
    
  
}